In [1]:
import pandas as pd
import os
from os.path import join
import psycopg2

from astropy.io import fits
from astropy.coordinates import SkyCoord
from astropy import units as u

In [20]:
def update_data(conn_str, table, set_columns, set_values, condition=None, condition_values=None):
    """
    Update rows in a PostgreSQL table.

    Parameters:
    - conn_str: PostgreSQL connection string.
    - table: Name of the table you want to update.
    - set_columns: Columns that you want to update.
    - set_values: Values corresponding to the columns you want to update.
    - condition: (Optional) Condition for the rows you want to update.
    - condition_values: (Optional) Values for the conditions.
    
    Returns:
    - Number of updated rows.
    """
    # Form the SQL update statement
    set_clause = ', '.join([f"{col} = %s" for col in set_columns])
    query = f"UPDATE {table} SET {set_clause}"
    if condition:
        query += f" WHERE {condition}"
    
    # Combine the values
    values = set_values
    if condition_values:
        values += condition_values
    
    print(query, values)
    # with psycopg2.connect(conn_str) as conn:
    #     with conn.cursor() as cursor:
    #         cursor.execute(query, values)
    #         conn.commit()
    #         return cursor.rowcount

def delete_data(conn_str, table, condition=None, condition_values=None):
    """
    Delete rows from a PostgreSQL table.

    Parameters:
    - conn_str: PostgreSQL connection string.
    - table: Name of the table from which you want to delete rows.
    - condition: (Optional) Condition to specify which rows to delete.
    - condition_values: (Optional) Values for the condition.
    
    Returns:
    - Number of deleted rows.
    """
    
    # Form the SQL DELETE statement
    query = f"DELETE FROM {table}"
    if condition:
        query += f" WHERE {condition}"
    
    with psycopg2.connect(conn_str) as conn:
        with conn.cursor() as cursor:
            cursor.execute(query, condition_values)
            conn.commit()
            return cursor.rowcount

# Example usage:
conn_str = "dbname='mydatabase' user='username' host='localhost' password='password' port='5432'"

# This will delete rows from the 'users' table where 'id' is 1
deleted_rows = delete_data(conn_str, "users", "id = %s", [1])
print(f"{deleted_rows} row(s) deleted.")

OperationalError: connection to server at "localhost" (127.0.0.1), port 5432 failed: FATAL:  password authentication failed for user "username"
connection to server at "localhost" (127.0.0.1), port 5432 failed: FATAL:  password authentication failed for user "username"

In [2]:
bands = ["R", "G", "I", "Z", "U", "F378", "F395", "F410", "F430", "F515", "F660", "F861"]

In [3]:
def get_filename(field, band):
    return f"{field}_{band}_swp.fits.fz"

In [11]:
def write_log(text):
    open("log.txt", "a").write(text + "\n")

def write_changes(text):
    open("changes.txt", "a").write(text + "\n")

In [5]:
conn = psycopg2.connect(database="mar", user="postgres", password="password", host="127.0.0.1", port="5432")
cursor = conn.cursor()

In [6]:
def querydb(query):
    # Query data
    return pd.read_sql(query, conn)

In [7]:
queryres = querydb("SELECT * from files_individualfile WHERE file_name LIKE '%CN%' ")

/tmp/ipykernel_1644840/2301257939.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(query, conn)

In [8]:
queryres

,id,obsDate,field,file_type,exptime,band,file_name,file_path,ovfile,ovthumb,...,comments,status,isvalid,processed_id,sci_id,superflat_id,raw_sci_id,moonmean,crval1,crval2
0,127221,2019-11-16 05:13:16.914000+00:00,NGC104,SCI,120.0,R,CN2018A76-20191116-021541,20191115/CN2018A76-20191116-021541.fits.fz,None,None,...,None,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,127212,2019-11-16 04:47:08.612000+00:00,NGC104,SCI,30.0,U,CN2018A76-20191116-014801,20191115/CN2018A76-20191116-014801.fits.fz,None,None,...,None,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,127219,2019-11-16 05:16:18.822000+00:00,NGC104,SCI,5.0,I,CN2018A76-20191116-021647,20191115/CN2018A76-20191116-021647.fits.fz,None,None,...,None,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,127211,2019-11-16 04:56:27.792000+00:00,NGC104,SCI,150.0,F395,CN2018A76-20191116-015921,20191115/CN2018A76-20191116-015921.fits.fz,None,None,...,None,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,127222,2019-11-16 05:09:02.450000+00:00,NGC104,SCI,150.0,G,CN2018A76-20191116-021156,20191115/CN2018A76-20191116-021156.fits.fz,None,None,...,None,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26467,124564,2019-11-07 06:13:50.712000+00:00,NGC104,SCI,60.0,F660,CN2018A76-20191107-031514,20191106/CN2018A76-20191107-031514.fits.fz,None,None,...,None,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26468,124582,2019-11-07 06:17:12.134000+00:00,NGC104,SCI,30.0,U,CN2018A76-20191107-031806,20191106/CN2018A76-20191107-031806.fits.fz,None,None,...,None,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26469,124591,2019-11-07 06:37:08.593000+00:00,NGC104,SCI,30.0,U,CN2018A76-20191107-033802,20191106/CN2018A76-20191107-033802.fits.fz,None,None,...,None,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26470,127220,2019-11-16 05:12:27.932000+00:00,NGC104,SCI,10.0,R,CN2018A76-20191116-021302,20191115/CN2018A76-20191116-021302.fits.fz,None,None,...,None,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26471,127216,2019-11-16 05:05:17.193000+00:00,NGC104,SCI,120.0,F515,CN2018A76-20191116-020741,20191115/CN2018A76-20191116-020741.fits.fz,None,None,...,None,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df = pd.read_csv("ref_table_chances.csv")
raw_files_path = "../reductionmedia/TILES/"
raw_files = "../reductionmedia"

coords_table = SkyCoord(ra=df['RA']*u.degree, dec=df['DEC']*u.degree, frame='icrs')

def find_closest_row(ra_input, dec_input):
    input_coord = SkyCoord(ra=ra_input*u.degree, dec=dec_input*u.degree, frame='icrs')
    idx, d2d, d3d = input_coord.match_to_catalog_sky(coords_table)
    if d2d > 700.0 * u.arcsec:
        return None
    return df.iloc[idx]

In [72]:
open("log.txt", "w")

for key, value in df.iterrows():
    field = value["Field"]
    write_log(f"Checking field {field}")
    
    folder_path = join(raw_files_path, value["Field"])
    queryres[(queryres["field"] == field) & (queryres["band"] == "R")]

    for band in bands:
        filedb = queryres[(queryres["field"] == field) & (queryres["band"] == "R")]
        filename = get_filename(field, band)
        filepath = join(folder_path, filename)

        if len(filedb) == 0:
            write_log(f"Not found {filename}")
    
        else:
            write_log(filename + " file_exists:" + str(os.path.exists(filepath)))
            if os.path.exists(filepath):
                header = fits.getheader(filepath, 1)
                print(header)
                ra, dec = float(header['CRVAL1']), float(header['CRVAL2'])
                row = find_closest_row(ra, dec)
                
                print(ra, dec, field)
                print(row)
        
    break

SIMPLE  =                    T / This is a FITS file                            BITPIX  =                  -32                                                  NAXIS   =                    2                                                  NAXIS1  =                11000 / Number of pixels along this axis               NAXIS2  =                11000 / Number of pixels along this axis               EQUINOX =        2000.00000000 / Mean equinox                                   MJD-OBS =       59222.34722222 / Modified Julian date at start                  RADESYS = 'ICRS    '           / Astrometric system                             CTYPE1  = 'RA---TAN'           / WCS projection type for this axis              CUNIT1  = 'deg     '           / Axis unit                                      CRVAL1  =   9.042540856542E+01 / World coordinate on this axis                  CRPIX1  =   5.500500000000E+03 / Reference pixel on this axis                   CD1_1   =  -1.527777777778E-04 / Linear projection matrix                       CD1_2   =   0.000000000000E+00 / Linear projection matrix                       CTYPE2  = 'DEC--TAN'           / WCS projection type for this axis              CUNIT2  = 'deg     '           / Axis unit                                      CRVAL2  =  -3.998499061405E+01 / World coordinate on this axis                  CRPIX2  =   5.500500000000E+03 / Reference pixel on this axis                   CD2_1   =   0.000000000000E+00 / Linear projection matrix                       CD2_2   =   1.527777777778E-04 / Linear projection matrix                       EXPTIME =   1.200000000000E+02 / Maximum equivalent exposure time (s)           GAIN    =   2.435990885304E+02 / Maximum equivalent gain (e-/ADU)               SATURATE=   1.607245983862E+03 / Saturation Level (ADU)                         COMMENT                                                                         SOFTNAME= 'SWarp   '           / The software that processed those data         SOFTVERS= '2.41.5  '           / Version of the software                        SOFTDATE= '2023-07-10'         / Release date of the software                   SOFTAUTH= '2010-2012 IAP/CNRS/UPMC' / Maintainer of the software                SOFTINST= 'IAP  http://www.iap.fr' / Institute                                  COMMENT                                                                         AUTHOR  = 'unknown '           / Who ran the software                           ORIGIN  = '569fafe5e8dd'       / Where it was done                              DATE    = '2023-08-09T16:34:17' / When it was started (GMT)                     COMBINET= 'WEIGHTED'           / COMBINE_TYPE config parameter for SWarp        COMMENT                                                                         COMMENT  Propagated FITS keywords                                               AIRMASS =   1.049303097767E+00 / air mass at the end of observation             TELESCOP= 'T80     '           / Telescope Model                                INSTRUME= 'T80Cam  '           / Custom. Name of instrument                     FILTER  = 'R       '           / Filter used for this observation               COMMENT                                                                         COMMENT  Axis-dependent config parameters                                       RESAMPT1= 'LANCZOS3'           / RESAMPLING_TYPE config parameter               CENTERT1= 'MANUAL  '           / CENTER_TYPE config parameter                   PSCALET1= 'MANUAL  '           / PIXELSCALE_TYPE config parameter               RESAMPT2= 'LANCZOS3'           / RESAMPLING_TYPE config parameter               CENTERT2= 'MANUAL  '           / CENTER_TYPE config parameter                   PSCALET2= 'MANUAL  '           / PIXELSCALE_TYPE config parameter               HIERARCH INSTRUMENT = 'T80S    '                                                PIXSCALE=                 0.55                                                  HIERARCH MASTER_GAIN = 2.03                                                     HIERARCH MASTER_RNOISE = 6.6                                                    HIERARCH MAR DET CHIPID = 0                                                     HIERARCH MAR DET OUTPUTS = 16                                                   HIERARCH MAR DET OUT1 PRSCX = '[1:27,1:4670]'                                   HIERARCH MAR DET OUT1 PRSCY = ''                                                HIERARCH MAR DET OUT2 PRSCX = '[1207:1233,1:4670]'                              HIERARCH MAR DET OUT2 PRSCY = ''                                                HIERARCH MAR DET OUT3 PRSCX = '[2413:2439,1:4670]'                              HIERARCH MAR DET OUT3 PRSCY = ''                                                HIERARCH MAR DET OUT4 PRSCX = '[3619:3645,1:4670]'                              HIERARCH MAR DET OUT4 PRSCY = ''                                                HIERARCH MAR DET OUT5 PRSCX = '[6004:6030,1:4670]'                              HIERARCH MAR DET OUT5 PRSCY = ''                                                HIERARCH MAR DET OUT6 PRSCX = '[7210:7236,1:4670]'                              HIERARCH MAR DET OUT6 PRSCY = ''                                                HIERARCH MAR DET OUT7 PRSCX = '[8416:8442,1:4670]'                              HIERARCH MAR DET OUT7 PRSCY = ''                                                HIERARCH MAR DET OUT8 PRSCX = '[9622:9648,1:4670]'                              HIERARCH MAR DET OUT8 PRSCY = ''                                                HIERARCH MAR DET OUT9 PRSCX = '[1:27,4671:9340]'                                HIERARCH MAR DET OUT9 PRSCY = ''                                                HIERARCH MAR DET OUT10 PRSCX = '[1207:1233,4671:9340]'                          HIERARCH MAR DET OUT10 PRSCY = ''                                               HIERARCH MAR DET OUT11 PRSCX = '[2413:2439,4671:9340]'                          HIERARCH MAR DET OUT11 PRSCY = ''                                               HIERARCH MAR DET OUT12 PRSCX = '[3619:3645,4671:9340]'                          HIERARCH MAR DET OUT12 PRSCY = ''                                               HIERARCH MAR DET OUT13 PRSCX = '[6004:6030,4671:9340]'                          HIERARCH MAR DET OUT13 PRSCY = ''                                               HIERARCH MAR DET OUT14 PRSCX = '[7210:7236,4671:9340]'                          HIERARCH MAR DET OUT14 PRSCY = ''                                               HIERARCH MAR DET OUT15 PRSCX = '[8416:8442,4671:9340]'                          HIERARCH MAR DET OUT15 PRSCY = ''                                               HIERARCH MAR DET OUT16 PRSCX = '[9622:9648,4671:9340]'                          HIERARCH MAR DET OUT16 PRSCY = ''                                               HIERARCH MAR DET OUT1 OVSCX = '[1180:1206,1:4670]'                              HIERARCH MAR DET OUT1 OVSCY = '[1:1206,4617:4670]'                              HIERARCH MAR DET OUT2 OVSCX = '[2386:2412,1:4670]'                              HIERARCH MAR DET OUT2 OVSCY = '[1207:2412,4617:4670]'                           HIERARCH MAR DET OUT3 OVSCX = '[3592:3618,1:4670]'                              HIERARCH MAR DET OUT3 OVSCY = '[2413:3618,4617:4670]'                           HIERARCH MAR DET OUT4 OVSCX = '[4798:4824,1:4670]'                              HIERARCH MAR DET OUT4 OVSCY = '[3619:4824,4617:4670]'                           HIERARCH MAR DET OUT5 OVSCX = '[4825:4851,1:4670]'                              HIERARCH MAR DET OUT5 OVSCY = '[4825:6030,4617:4670]'                           HIERARCH MAR DET OUT6 OVSCX = '[6031:6057,1:4670]'                              HIERARCH MAR DET OUT6 OVSCY = '[6031:7236,4617:4670]'                           HIERARCH MAR DET OUT7 OVSCX = '[7237:7263,1:4670]'                              HIERARCH MAR DET OUT7 OVSCY = '[7237:8442,4617:4670]'                           HIERARCH MAR DET OUT8 OVSCX = '[8443:8469,1:4670]'                              HIERARCH MAR DET OUT8 OVSCY = '[8443:9648,4617:4670]'                           HIERARCH MAR DET OUT9 OVSCX = '[1180:1206,4671:9340]'                           HIERARCH MAR DET OUT9 OVSCY = '[1:1206,4671:4724]'                              HIERARCH MAR DET OUT10 OVSCX = '[2386:2412,4671:9340]'                          HIERARCH MAR DET OUT10 OVSCY = '[1207:2412,4671:4724]'                          HIERARCH MAR DET OUT11 OVSCX = '[3592:3618,4671:9340]'                          HIERARCH MAR DET OUT11 OVSCY = '[2413:3618,4671:4724]'                          HIERARCH MAR DET OUT12 OVSCX = '[4798:4824,4671:9340]'                          HIERARCH MAR DET OUT12 OVSCY = '[3619:4824,4671:4724]'                          HIERARCH MAR DET OUT13 OVSCX = '[4825:4851,4671:9340]'                          HIERARCH MAR DET OUT13 OVSCY = '[4825:6030,4671:4724]'                          HIERARCH MAR DET OUT14 OVSCX = '[6031:6057,4671:9340]'                          HIERARCH MAR DET OUT14 OVSCY = '[6031:7236,4671:4724]'                          HIERARCH MAR DET OUT15 OVSCX = '[7237:7263,4671:9340]'                          HIERARCH MAR DET OUT15 OVSCY = '[7237:8442,4671:4724]'                          HIERARCH MAR DET OUT16 OVSCX = '[8443:8469,4671:9340]'                          HIERARCH MAR DET OUT16 OVSCY = '[8443:9648,4671:4724]'                          HIERARCH MAR DET OUT1 ID = 0                                                    HIERARCH MAR DET OUT2 ID = 1                                                    HIERARCH MAR DET OUT3 ID = 2                                                    HIERARCH MAR DET OUT4 ID = 3                                                    HIERARCH MAR DET OUT5 ID = 4                                                    HIERARCH MAR DET OUT6 ID = 5                                                    HIERARCH MAR DET OUT7 ID = 6                                                    HIERARCH MAR DET OUT8 ID = 7                                                    HIERARCH MAR DET OUT9 ID = '08      '                                           HIERARCH MAR DET OUT10 ID = '09      '                                          HIERARCH MAR DET OUT11 ID = 10                                                  HIERARCH MAR DET OUT12 ID = 11                                                  HIERARCH MAR DET OUT13 ID = 12                                                  HIERARCH MAR DET OUT14 ID = 13                                                  HIERARCH MAR DET OUT15 ID = 14                                                  HIERARCH MAR DET OUT16 ID = 15                                                  HIERARCH MAR DET OUT1 IMSC = '[28:1179,1:4616]'                                 HIERARCH MAR DET OUT2 IMSC = '[1234:2385,1:4616]'                               HIERARCH MAR DET OUT3 IMSC = '[2440:3591,1:4616]'                               HIERARCH MAR DET OUT4 IMSC = '[3646:4797,1:4616]'                               HIERARCH MAR DET OUT5 IMSC = '[4852:6003,1:4616]'                               HIERARCH MAR DET OUT6 IMSC = '[6058:7209,1:4616]'                               HIERARCH MAR DET OUT7 IMSC = '[7264:8415,1:4616]'                               HIERARCH MAR DET OUT8 IMSC = '[8470:9621,1:4616]'                               HIERARCH MAR DET OUT9 IMSC = '[28:1179,4725:9340]'                              HIERARCH MAR DET OUT10 IMSC = '[1234:2385,4725:9340]'                           HIERARCH MAR DET OUT11 IMSC = '[2440:3591,4725:9340]'                           HIERARCH MAR DET OUT12 IMSC = '[3646:4797,4725:9340]'                           HIERARCH MAR DET OUT13 IMSC = '[4852:6003,4725:9340]'                           HIERARCH MAR DET OUT14 IMSC = '[6058:7209,4725:9340]'                           HIERARCH MAR DET OUT15 IMSC = '[7264:8415,4725:9340]'                           HIERARCH MAR DET OUT16 IMSC = '[8470:9621,4725:9340]'                           HIERARCH MAR QC NCMODE = -0.0009 / Mode cor image (ADU)                         HIERARCH MAR QC NCMIDPT = -0.0015 / Level estim cor (ADU)                       HIERARCH MAR QC NCNOISE = 0.0626 / Noise estim cor (ADU)                        HIERARCH MAR QC NCMIDRMS = 0.0064 / rms level estim cor (ADU)                   HIERARCH MAR QC NCNOIRMS = 0.0036 / rms noise estim cor (ADU)                   HIERARCH MAR PRO FWHMSEXT = 1.215871512889862 / FWHM arcsec estimated with SextrHIERARCH MAR PRO FWHMSRMS = 0.07056380957365037 / rms in FWHM with Sextractor   HIERARCH MAR PRO FWHMMEAN = 1.2110615253448487 / PSFex FWHM in arcsec           HIERARCH MAR PRO FWHMBETA = 3.55608 / PSFex beta - MoffatBeta_Mean              HIERARCH MAR PRO FWHMNSTARS = 1811 / PSFex nstars - NStars_Accepted_Total       HIERARCH MAR PRO ELLIPMEAN = 0.0630395 / PSFex Ellipmean - Ellipticity_Mean     OBJECT  = 'A3376_001'                                                           NCOMBINE=                    3                                                  COMB_0  = 'proc_CN2020B30-20210108-022411' / Combined on swarp                  COMB_1  = 'proc_CN2020B30-20210108-022146' / Combined on swarp                  COMB_2  = 'proc_CN2020B30-20210108-022259' / Combined on swarp                  EXP_0   =                 40.0 / EXPTIME respective to COMB_N                   EXP_1   =                 40.0 / EXPTIME respective to COMB_N                   EXP_2   =                 40.0 / EXPTIME respective to COMB_N                   HISTORY Image was compressed by CFITSIO using scaled integer quantization:      HISTORY   q = 4.000000 / quantized level scaling parameter                      HISTORY 'SUBTRACTIVE_DITHER_1' / Pixel Quantization Algorithm                   ZDITHER0=                 9354 / dithering offset when quantizing floats        CHECKSUM= '6aIc6Z9Z6aGb6W9Z'   / HDU checksum updated 2023-08-09T16:42:36       DATASUM = '266373585'          / data unit checksum updated 2023-08-09T16:42:36 EXTEND  =                    T / This file may contain FITS extensions          END
90.42540856542 -39.98499061405 A3376_001
Unnamed: 0            0
Field         A3376_001
RA               90.425
DEC             -39.985
Name: 0, dtype: object

In [19]:
queryres.to_csv("CN_db_antes.csv")

In [18]:
open("log.txt", "w")

for key, value in queryres.iterrows():
    field = value["field"]
    
    filepath = join(raw_files, value['file_path'])

    if '.fz' in filepath:
        header = fits.getheader(filepath, 1)
    else:
        header = fits.getheader(filepath, 0)
    
    ra, dec = float(header['CRVAL1']), float(header['CRVAL2'])
    
    contains_value = df['Field'].isin([field]).any()
    if not contains_value:
        continue
    row = find_closest_row(ra, dec)

    #write_log(f"Checking field {field}")
    if row is None or field is None:
        write_log(f"Match error in ref {field}")
        print(row)
        print(field, ra, dec)
        continue
    if field != row['Field']:
        write_log(f"{value['file_name']} {field} -> {row['Field']}")
        write_changes(f"{value['file_name']} {value['id']} -> {row['Field']}")

        print(f"Doing {field}")
        # This will update the 'users' table, setting the 'name' column to 'NewName' where 'id' is 1
        updated_rows = update_data(conn, "files_individualfile", ["field"], [row['Field']], "id = %s", [value['id']])
        print(f"{updated_rows} row(s) updated.")

        updated_rows = update_data(conn, "files_finaltiles", ["status"], [0], "field = %s", [field])
        print(f"{updated_rows} row(s) updated.")

        deleted_rows = delete_data(conn, "files_astrocatalogs", "field = %s", [field])
        print(f"{deleted_rows} row(s) deleted.")

UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169074]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169099]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169196]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169113]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169185]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169183]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169122]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169192]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169132]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169165]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169078]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169213]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169245]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169145]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169090]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169256]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169215]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169241]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169264]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171049]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171117]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171248]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171133]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171184]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171215]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171077]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171045]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171080]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171238]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171104]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171130]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171220]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171266]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171232]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173127]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173099]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173109]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173090]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173082]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173095]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173069]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173101]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173123]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173078]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173073]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173100]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173120]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173117]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173089]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173139]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173079]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173066]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173083]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173147]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173129]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173167]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173157]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173103]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173094]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173141]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173122]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173158]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173132]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173065]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173160]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173092]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173085]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173171]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173149]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173074]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173133]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173145]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173086]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173105]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173128]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173077]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173071]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173134]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173097]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173125]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173161]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173163]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173152]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173115]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173070]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173138]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173162]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173146]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173153]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173159]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173168]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 176991]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 176984]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 176992]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 176970]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 176973]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 176993]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 176999]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 176955]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 176945]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 176997]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 176977]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 176966]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 177003]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 176968]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 177010]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 176974]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 177000]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 176981]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 176943]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 176985]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177443]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 177012]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177451]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177446]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177486]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177455]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177475]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177428]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177471]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177444]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177487]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177477]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177467]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177494]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177485]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177493]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177491]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178571]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178586]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178621]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178598]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178606]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178601]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178624]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178618]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178578]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178596]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178568]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178617]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178850]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178590]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 178804]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178640]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178828]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178582]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178631]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178573]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178842]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178619]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178592]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178853]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178832]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 178859]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178609]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-003', 178926]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 178825]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178576]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 178800]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178602]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178811]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178623]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178613]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 178849]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 178829]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178594]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 178819]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178574]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-003', 178934]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178626]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 178839]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 178864]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 178851]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178616]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178589]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178863]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-003', 178935]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178597]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178607]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 178796]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178633]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-003', 178933]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 178831]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178632]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178612]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-003', 178944]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 178812]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178625]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-003', 178932]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178813]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 178858]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178615]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178794]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178622]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178817]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 178807]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178862]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178629]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178840]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178856]
None row(s) updated.

WARNING: File may have been truncated: actual file length (65748992) is smaller than the expected size (82923840) [astropy.io.fits.file]

UPDATE files_individualfile SET field = %s WHERE id = %s ['A147-007', 232852]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A147-007', 232857]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A147-007', 232870]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A147-007', 232901]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A147-007', 232889]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A147-007', 232838]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A147-007', 232854]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A147-007', 232837]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A147-007', 232843]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A147-007', 232879]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A147-007', 232842]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A147-007', 232875]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A147-007', 232866]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A147-007', 232883]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A147-007', 232882]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A147-007', 232902]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A147-007', 232892]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A147-007', 232886]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-001', 256248]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-001', 256252]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 256497]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 256506]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 256219]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 256518]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 256491]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 256226]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-002', 256569]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 256496]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 256223]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 256218]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-002', 256247]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 256493]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 256520]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 256238]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 256233]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 256211]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 256511]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 256228]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-003', 256253]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 256507]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-003', 256242]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 256239]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-002', 256522]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169239]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171225]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171205]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173164]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173114]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178854]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178846]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-003', 182425]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-003', 256571]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-001', 182202]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-003', 182430]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-001', 257403]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 256501]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 256494]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 256505]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 256512]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 256509]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169238]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173154]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173155]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177462]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 256498]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 256502]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 256495]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 256499]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 256492]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 256490]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 256500]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 256513]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 256503]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 256508]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 256510]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 256515]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 256519]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 256514]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 256517]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-003', 256525]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-002', 256521]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-001', 256524]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 256516]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-001', 256568]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-001', 256570]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 178836]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 257222]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178603]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 256504]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178604]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-002', 181920]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 257210]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 257212]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 257213]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 257208]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169151]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171218]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173142]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173130]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 257218]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173170]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 257223]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 257224]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173124]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 257220]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173121]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173126]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 257219]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-003', 182398]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 177011]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177501]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 257231]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-002', 257241]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-002', 257233]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 257240]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177431]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 257235]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178635]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178861]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178860]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 178634]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178630]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-002', 181883]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 257230]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 257236]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-001', 182201]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-003', 182371]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 257211]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-003', 257246]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 257234]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-003', 257243]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 257225]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 257214]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-001', 257247]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 257229]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 257238]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 257217]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-001', 257245]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 257227]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 257215]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-001', 257242]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171182]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173091]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173104]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173102]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 176983]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178822]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 178833]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178830]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-002', 181918]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 255546]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 255561]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 255585]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-004', 255645]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 255580]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 255590]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-003', 255642]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-001', 255599]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-002', 255650]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 256217]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169247]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 169140]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-004', 255562]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 255577]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 255575]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 173166]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 255581]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171229]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 173107]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173111]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 173113]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-007', 255586]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-001', 171039]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-002', 255582]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-006', 255584]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 255596]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-003', 255601]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177480]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 178835]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 178843]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-001', 182189]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-001', 255600]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-003', 182410]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 255594]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-007', 255592]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-002', 255598]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 255589]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 177479]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178611]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 255646]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 178614]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 178844]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-002', 181931]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-002', 181934]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-006', 255647]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 255649]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-002', 255651]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A0085-005', 255644]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-003', 182419]
None row(s) updated.
UPDATE files_individualfile SET field = %s WHERE id = %s ['A3667-005', 255595]
None row(s) updated.

In [16]:
# This will update the 'users' table, setting the 'name' column to 'NewName' where 'id' is 1
updated_rows = update_data(conn, "files_individualfile", ["field"], ["TESTE"], "id = %s", [1])

print(f"{updated_rows} row(s) updated.")

UPDATE files_individualfile SET field = %s WHERE id = %s ['TESTE', 1]
None row(s) updated.